nifi_workflow/3mf_project_templateVF1.0.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>ddb2ee18-0190-1000-f92d-314206d180cc</groupId>
    <name>3mf_project_templateVF1.0</name>
    <snippet>
        <processGroups>
            <id>2582fac6-7ed7-3fb5-0000-000000000000</id>
            <parentGroupId>a43ed308-9e16-365c-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>2582fac6-7ed7-3fb5-9e0a-b52a86bc566a</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>332b2282-b127-3ba2-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>332b2282-b127-3ba2-ab88-93e8d55f34dd</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-4024.0</x>
                        <y>-2720.0</y>
                    </bends>
                    <bends>
                        <x>-4024.0</x>
                        <y>-2672.0</y>
                    </bends>
                    <destination>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>100e9355-0843-3ea0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>100e9355-0843-3ea0-88d4-504634eb6572</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>100e9355-0843-3ea0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>100e9355-0843-3ea0-88d4-504634eb6572</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>341698af-1bf0-33d7-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>341698af-1bf0-33d7-add3-74c30681ba8a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>9339e609-735e-3ba7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9339e609-735e-3ba7-b5e1-87e219972528</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>528c1b68-24cb-367a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>528c1b68-24cb-367a-9379-ad3c7e2a5799</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3fe136d9-f1c9-3b90-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>3fe136d9-f1c9-3b90-b4fb-50f94d6510ab</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-4024.0</x>
                        <y>-2208.0</y>
                    </bends>
                    <bends>
                        <x>-4024.0</x>
                        <y>-2248.0</y>
                    </bends>
                    <destination>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>ac3becdf-dc2f-3036-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac3becdf-dc2f-3036-9bf7-e02357b0e95d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>ac3becdf-dc2f-3036-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac3becdf-dc2f-3036-9bf7-e02357b0e95d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4231f863-2bdb-3052-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>4231f863-2bdb-3052-adb9-7b1fe15f156c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>ac3becdf-dc2f-3036-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac3becdf-dc2f-3036-9bf7-e02357b0e95d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>032e2fe7-48bb-3043-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>032e2fe7-48bb-3043-8395-c7f7bbdf687a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6b2aaea1-559b-33f1-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>6b2aaea1-559b-33f1-b69f-8aa12539b08d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>100e9355-0843-3ea0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>100e9355-0843-3ea0-88d4-504634eb6572</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>a6946e6b-d54d-3ebd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a6946e6b-d54d-3ebd-a980-457302e0eb87</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7d0e67dd-b6ad-3551-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-2160.0</x>
                        <y>-2728.0</y>
                    </bends>
                    <bends>
                        <x>-2152.0</x>
                        <y>-2688.0</y>
                    </bends>
                    <destination>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>179f9a32-76b5-34a9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>179f9a32-76b5-34a9-958f-26da10546211</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>179f9a32-76b5-34a9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>179f9a32-76b5-34a9-958f-26da10546211</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>83305eb6-49da-376b-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>83305eb6-49da-376b-aed1-2e77744b335b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>a6946e6b-d54d-3ebd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a6946e6b-d54d-3ebd-a980-457302e0eb87</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>SUCCESS</selectedRelationships>
                    <source>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>9339e609-735e-3ba7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9339e609-735e-3ba7-b5e1-87e219972528</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8af400ed-4248-3210-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>8af400ed-4248-3210-abe4-f1108e0fae2c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>9339e609-735e-3ba7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9339e609-735e-3ba7-b5e1-87e219972528</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>958b8743-89d8-3fb7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>958b8743-89d8-3fb7-8ebb-1eee10d270e6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d3b67795-032b-3e87-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>d3b67795-032b-3e87-ab90-994632250e7e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>179f9a32-76b5-34a9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>179f9a32-76b5-34a9-958f-26da10546211</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>a6946e6b-d54d-3ebd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a6946e6b-d54d-3ebd-a980-457302e0eb87</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d937c3ef-ed25-3d8b-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>d937c3ef-ed25-3d8b-af90-2bdd6ff6fa5f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>032e2fe7-48bb-3043-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>032e2fe7-48bb-3043-8395-c7f7bbdf687a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>2582fac6-7ed7-3fb5-0000-000000000000</groupId>
                        <id>100e9355-0843-3ea0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>100e9355-0843-3ea0-88d4-504634eb6572</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>63f8d988-488c-3b12-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>63f8d988-488c-3b12-9089-8abaa5a959bc</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-parquet-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
<name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-type</key>
                            <value>
<name>compression-type</name>
                            </value>
                        </entry>
                        <entry>
                            <key>row-group-size</key>
                            <value>
<name>row-group-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>page-size</key>
                            <value>
<name>page-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dictionary-page-size</key>
                            <value>
<name>dictionary-page-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>max-padding-size</key>
                            <value>
<name>max-padding-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>enable-dictionary-encoding</key>
                            <value>
<name>enable-dictionary-encoding</name>
                            </value>
                        </entry>
                        <entry>
                            <key>enable-validation</key>
                            <value>
<name>enable-validation</name>
                            </value>
                        </entry>
                        <entry>
                            <key>writer-version</key>
                            <value>
<name>writer-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>avro-write-old-list-structure</key>
                            <value>
<name>avro-write-old-list-structure</name>
                            </value>
                        </entry>
                        <entry>
                            <key>avro-add-list-element-records</key>
                            <value>
<name>avro-add-list-element-records</name>
                            </value>
                        </entry>
                        <entry>
                            <key>int96-fields</key>
                            <value>
<name>int96-fields</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>ParquetRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>compression-type</key>
                            <value>UNCOMPRESSED</value>
                        </entry>
                        <entry>
                            <key>row-group-size</key>
                        </entry>
                        <entry>
                            <key>page-size</key>
                        </entry>
                        <entry>
                            <key>dictionary-page-size</key>
                        </entry>
                        <entry>
                            <key>max-padding-size</key>
                        </entry>
                        <entry>
                            <key>enable-dictionary-encoding</key>
                        </entry>
                        <entry>
                            <key>enable-validation</key>
                        </entry>
                        <entry>
                            <key>writer-version</key>
                        </entry>
                        <entry>
                            <key>avro-write-old-list-structure</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>avro-add-list-element-records</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>int96-fields</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.parquet.ParquetRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>a2e3a3fd-ef6f-31d7-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>a2e3a3fd-ef6f-31d7-b625-978551c63dfb</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-gcp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>application-default-credentials</key>
                            <value>
<name>application-default-credentials</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compute-engine-credentials</key>
                            <value>
<name>compute-engine-credentials</name>
                            </value>
                        </entry>
                        <entry>
                            <key>service-account-json-file</key>
                            <value>
<name>service-account-json-file</name>
                            </value>
                        </entry>
                        <entry>
                            <key>service-account-json</key>
                            <value>
<name>service-account-json</name>
                            </value>
                        </entry>
                        <entry>
                            <key>proxy-configuration-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
<name>proxy-configuration-service</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>GCPCredentialsControllerService_3mf_project</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>application-default-credentials</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>compute-engine-credentials</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>service-account-json-file</key>
                        </entry>
                        <entry>
                            <key>service-account-json</key>
                        </entry>
                        <entry>
                            <key>proxy-configuration-service</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService</type>
                </controllerServices>
                <controllerServices>
                    <id>e37523ef-ef5c-3e12-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <versionedComponentId>e37523ef-ef5c-3e12-92b3-77ec99755566</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<dependencies>
    <dependentValues>infer-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>starting-field-strategy</key>
                            <value>
<name>starting-field-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>starting-field-name</key>
                            <value>
<dependencies>
    <dependentValues>NESTED_FIELD</dependentValues>
    <propertyName>starting-field-strategy</propertyName>
</dependencies>
<name>starting-field-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-application-strategy</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>schema-text-property</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<dependencies>
    <dependentValues>NESTED_FIELD</dependentValues>
    <propertyName>starting-field-strategy</propertyName>
</dependencies>
<name>schema-application-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>starting-field-strategy</key>
                            <value>ROOT_NODE</value>
                        </entry>
                        <entry>
                            <key>starting-field-name</key>
                        </entry>
                        <entry>
                            <key>schema-application-strategy</key>
                            <value>SELECTED_PART</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <labels>
                    <id>13ff01d7-eafb-3390-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3896.0</x>
                        <y>-2824.0</y>
                    </position>
                    <height>32.0</height>
                    <label> GCS sous forme de paquet
</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0b3878</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>208.0</width>
                    <zIndex>2</zIndex>
                </labels>
                <labels>
                    <id>545e3424-2fb6-324e-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2664.0</x>
                        <y>-2792.0</y>
                    </position>
                    <height>176.0</height>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#5983bc</value>
                        </entry>
                    </style>
                    <width>368.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>b5bab03e-1e67-39cc-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3888.0</x>
                        <y>-2800.0</y>
                    </position>
                    <height>672.0</height>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#5983bc</value>
                        </entry>
                    </style>
                    <width>368.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>d5fde900-962c-392e-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2672.0</x>
                        <y>-2816.0</y>
                    </position>
                    <height>32.0</height>
                    <label>EK pour la visualisation en temps réel
</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0b3878</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>288.0</width>
                    <zIndex>1</zIndex>
                </labels>
                <labels>
                    <id>f0a9cace-f8fb-391c-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3576.0</x>
                        <y>-3312.0</y>
                    </position>
                    <height>240.0</height>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#967929</value>
                        </entry>
                    </style>
                    <width>976.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>032e2fe7-48bb-3043-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3880.0</x>
                        <y>-2512.0</y>
                    </position>
                    <versionedComponentId>032e2fe7-48bb-3043-8395-c7f7bbdf687a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${now():format("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT")}.parquet</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#967929</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>100e9355-0843-3ea0-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3880.0</x>
                        <y>-2776.0</y>
                    </position>
                    <versionedComponentId>100e9355-0843-3ea0-88d4-504634eb6572</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>
    <name>merge-strategy</name>
</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
<value>
    <name>correlation-attribute-name</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>
    <name>min-records</name>
</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>
    <name>max-records</name>
</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>
    <name>min-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
<value>
    <name>max-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-age</key>
<value>
    <name>max-bin-age</name>
</value>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>
    <name>max.bin.count</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>e37523ef-ef5c-3e12-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>63f8d988-488c-3b12-0000-000000000000</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>2</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>500</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
                            </entry>
                            <entry>
<key>max-bin-age</key>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>10</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#967929</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.MergeRecord</type>
                </processors>
                <processors>
                    <id>179f9a32-76b5-34a9-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-2656.0</x>
                        <y>-2776.0</y>
                    </position>
                    <versionedComponentId>179f9a32-76b5-34a9-958f-26da10546211</versionedComponentId>
                    <bundle>
                        <artifact>nifi-elasticsearch-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>elasticsearch-http-url</key>
<value>
    <name>elasticsearch-http-url</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>
    <name>elasticsearch-http-connect-timeout</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>
    <name>elasticsearch-http-response-timeout</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
<value>
    <name>elasticsearch-http-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
<value>
    <name>elasticsearch-http-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-username</key>
<value>
    <name>proxy-username</name>
</value>
                            </entry>
                            <entry>
<key>proxy-password</key>
<value>
    <name>proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>
    <name>put-es-id-attr</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>
    <name>put-es-index</name>
</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>
    <name>put-es-type</name>
</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>
    <name>put-es-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>
    <name>put-es-index-op</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>elasticsearch-http-url</key>
<value>http://clustersdaelatsic.eastus.cloudapp.azure.com:9200</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>elastic</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
                            </entry>
                            <entry>
<key>proxy-username</key>
                            </entry>
                            <entry>
<key>proxy-password</key>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>3mf_project</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>index</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutElasticsearchHttp</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0b3878</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                </processors>
                <processors>
                    <id>528c1b68-24cb-367a-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3512.0</x>
                        <y>-3288.0</y>
                    </position>
                    <versionedComponentId>528c1b68-24cb-367a-9379-ad3c7e2a5799</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>Commit Offsets</key>
<value>
    <name>Commit Offsets</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>Commit Offsets</propertyName>
    </dependencies>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>separate-by-key</key>
<value>
    <name>separate-by-key</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
    <name>kerberos-user-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <dependencies>
        <dependentValues>PLAIN</dependentValues>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <dependencies>
        <dependentValues>PLAIN</dependentValues>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <dependencies>
        <dependentValues>SCRAM-SHA-512</dependentValues>
        <dependentValues>SCRAM-SHA-256</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>aws.profile.name</key>
<value>
    <dependencies>
        <dependentValues>AWS_MSK_IAM</dependentValues>
        <propertyName>sasl.mechanism</propertyName>
    </dependencies>
    <name>aws.profile.name</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kfakasda.eastus.cloudapp.azure.com:9092</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>3mf_project</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>3mf_project_groupe</value>
                            </entry>
                            <entry>
<key>Commit Offsets</key>
<value>true</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>separate-by-key</key>
<value>false</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>kerberos-user-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>aws.profile.name</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>latest</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>60 secs</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeKafka_2_6</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#031f61</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6</type>
                </processors>
                <processors>
                    <id>9339e609-735e-3ba7-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3280.0</x>
                        <y>-3032.0</y>
                    </position>
                    <versionedComponentId>9339e609-735e-3ba7-b5e1-87e219972528</versionedComponentId>
                    <bundle>
                        <artifact>nifi-processor-nar</artifact>
                        <group>com.nifi</group>
                        <version>1.0-SNAPSHOT</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors/>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties/>
                        <retriedRelationships>FAILURE</retriedRelationships>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>TravelProcessor</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>FAILURE</name>
                        <retry>true</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>SUCCESS</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#00326e</value>
                        </entry>
                    </style>
                    <type>sda.datastreaming.processor.TravelProcessor</type>
                </processors>
                <processors>
                    <id>958b8743-89d8-3fb7-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3008.0</x>
                        <y>-3288.0</y>
                    </position>
                    <versionedComponentId>958b8743-89d8-3fb7-8ebb-1eee10d270e6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>{
   "data":[
      {
         "confort":"standard",
         "prix_base_per_km":2,
         "properties-client":{
            "logitude":2.3522,
            "latitude":48.8566,
            "nomclient":"FALL",
            "telephoneClient":"060786575"
         },
         "properties-driver":{
            "logitude":3.7038,
            "latitude":40.4168,
            "nomDriver":"DIOP",
            "telephoneDriver":"0760786575"
         }
      }
   ]
}</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>a6946e6b-d54d-3ebd-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3272.0</x>
                        <y>-2776.0</y>
                    </position>
                    <versionedComponentId>a6946e6b-d54d-3ebd-a980-457302e0eb87</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  {
    "operation": "shift",
    "spec": {
      "data": {
        "*": {
          "properties-client": {
            "nomclient": "nomclient",
            "telephoneClient": "telephoneClient",
            "location": "locationClient"
          },
          "distance": "distance",
          "properties-driver": {
            "nomDriver": "nomDriver",
            "location": "locationDriver",
            "telephoneDriver": "telephoneDriver"
          },
          "prix_travel": "prix_travel",
          "confort": "confort"
        }
      }
    }
  },
  {
    "operation": "default",
    "spec": {
      "agent_timestamp":"${now():format("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT")}"
    }
  }
]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retriedRelationships>failure</retriedRelationships>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>true</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#00326e</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>ac3becdf-dc2f-3036-0000-000000000000</id>
                    <parentGroupId>2582fac6-7ed7-3fb5-0000-000000000000</parentGroupId>
                    <position>
                        <x>-3880.0</x>
                        <y>-2280.0</y>
                    </position>
                    <versionedComponentId>ac3becdf-dc2f-3036-9bf7-e02357b0e95d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-gcp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>gcp-project-id</key>
<value>
    <name>gcp-project-id</name>
</value>
                            </entry>
                            <entry>
<key>GCP Credentials Provider Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.gcp.credentials.service.GCPCredentialsService</identifiesControllerService>
    <name>GCP Credentials Provider Service</name>
</value>
                            </entry>
                            <entry>
<key>gcp-retry-count</key>
<value>
    <name>gcp-retry-count</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-host</key>
<value>
    <name>gcp-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-port</key>
<value>
    <name>gcp-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-user-name</key>
<value>
    <name>gcp-proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-user-password</key>
<value>
    <name>gcp-proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>storage-api-url</key>
<value>
    <name>storage-api-url</name>
</value>
                            </entry>
                            <entry>
<key>gcs-bucket</key>
<value>
    <name>gcs-bucket</name>
</value>
                            </entry>
                            <entry>
<key>gcs-key</key>
<value>
    <name>gcs-key</name>
</value>
                            </entry>
                            <entry>
<key>gcs-content-type</key>
<value>
    <name>gcs-content-type</name>
</value>
                            </entry>
                            <entry>
<key>gcs-object-md5</key>
<value>
    <name>gcs-object-md5</name>
</value>
                            </entry>
                            <entry>
<key>gcs-object-crc32c</key>
<value>
    <name>gcs-object-crc32c</name>
</value>
                            </entry>
                            <entry>
<key>gcs-object-acl</key>
<value>
    <name>gcs-object-acl</name>
</value>
                            </entry>
                            <entry>
<key>gcs-server-side-encryption-key</key>
<value>
    <name>gcs-server-side-encryption-key</name>
</value>
                            </entry>
                            <entry>
<key>gcs-overwrite-object</key>
<value>
    <name>gcs-overwrite-object</name>
</value>
                            </entry>
                            <entry>
<key>gcs-content-disposition-type</key>
<value>
    <name>gcs-content-disposition-type</name>
</value>
                            </entry>
                            <entry>
<key>gzip.content.enabled</key>
<value>
    <name>gzip.content.enabled</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>gcp-project-id</key>
<value>mfproject-435512</value>
                            </entry>
                            <entry>
<key>GCP Credentials Provider Service</key>
<value>a2e3a3fd-ef6f-31d7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>gcp-retry-count</key>
<value>6</value>
                            </entry>
                            <entry>
<key>gcp-proxy-host</key>
                            </entry>
                            <entry>
<key>gcp-proxy-port</key>
                            </entry>
                            <entry>
<key>gcp-proxy-user-name</key>
                            </entry>
                            <entry>
<key>gcp-proxy-user-password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>storage-api-url</key>
                            </entry>
                            <entry>
<key>gcs-bucket</key>
<value>bucket_3mf_project</value>
                            </entry>
                            <entry>
<key>gcs-key</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>gcs-content-type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>gcs-object-md5</key>
                            </entry>
                            <entry>
<key>gcs-object-crc32c</key>
                            </entry>
                            <entry>
<key>gcs-object-acl</key>
                            </entry>
                            <entry>
<key>gcs-server-side-encryption-key</key>
                            </entry>
                            <entry>
<key>gcs-overwrite-object</key>
<value>true</value>
                            </entry>
                            <entry>
<key>gcs-content-disposition-type</key>
                            </entry>
                            <entry>
<key>gzip.content.enabled</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutGCSObject</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#967929</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.gcp.storage.PutGCSObject</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <logFileSuffix></logFileSuffix>
            <name>3mf_project_VF1.0</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/14/2024 11:09:29 CEST</timestamp>
</template>
